<component name="ArtifactManager">
  <artifact type="war" name="springboot-jpa-thymeleaf:war">
    <output-path>$PROJECT_DIR$/springboot-jpa-thymeleaf/target</output-path>
    <root id="archive" name="sprintboot-jpa-thymeleaf-1.4.7.RELEASE.war">
      <element id="artifact" artifact-name="springboot-jpa-thymeleaf:war exploded" />
    </root>
  </artifact>
</component>